:root {
  --header-transition: transform 0.2s ease-in-out;
}

body {
  font-family: 'Apple Chancery', cursive;
  background: linear-gradient(to bottom, rgb(31, 145, 116), rgb(56, 145, 96), rgb(31, 145, 116));
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 20px;
  background: url('recipes/feel.gif') no-repeat center;
  background-size: contain;
  color: rgb(0, 0, 0);
}

.gif-container, .centered-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.header-container {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.header-balut, .header-isaw, .header-kwekwek {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  justify-content: center;
  transition: var(--header-transition);
}

.header-balut { background: radial-gradient(circle, red, white); }
.header-isaw { background: radial-gradient(circle, green, white); }
.header-kwekwek { background: radial-gradient(circle, gold, white); }

.header-balut:hover, .header-kwekwek:hover { transform: scale(1.05); }

.header-isaw:hover { animation: bounce 0.5s ease-in-out infinite; }

.header-balut img, .header-isaw img, .header-kwekwek img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-5px); }
  60% { transform: translateY(-3px); }
}

.isaw-gif {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  left: 0;
}

.isaw-container:hover .isaw-gif { opacity: 1; }


